/*.box_table>table tr:hover {
background
*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color:lightblue;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #2980b9;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

a {
    color: red;
}